.navbar {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	background-color: $primary;
	color: $white;
	font-size: 0.75em;
	width: clamp(5em, 20vw, 10em);
	height: auto;
	padding: 1em 0 1em 0;
	align-content: center;
	gap: 0.5em;
	z-index: 2;
	a:last-child {
		margin-top: auto;
	}
	span {
		@extend .horizontalCenter;
		text-align: left;
		width: 100%;
		display: flex;
		height: 100%;
		.icon{
			flex: 30%;
			display: grid;
			place-items: center;
			margin: 0;
		}
		.title{
			flex: 70%;
			display: flex;
			align-items: center;
		}
	}
	#active{
		background-color: lighten($color: $primary, $amount: 10)
	}

	a,
	a:hover,
	a:focus,
	a:active {
		text-decoration: none;
		color: inherit;
		text-align: center;
	}
	a:hover{
		background-color: lighten($color: $primary, $amount: 10)
	}
	a{
		height: 3em;
	}
}

.icon {
	@extend .horizontalCenter;
	width: 80%;
	height: #{width};
	margin-bottom: 1em;
}
.maxWidth {
	width: 100%;
}

.horizontalCenter {
	margin-left: auto;
	margin-right: auto;
}

.bodyContainer {
	background-color: $white;
	display: flex;
	min-height: 100vh;
	min-width: 100%;
}

.body {
	padding: 1.5em 1em 1em 1em;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5em;
	width: 100%;
	align-items: center;
	justify-content: center;
	.topMargin {
		margin-top: 0.5em;
	}
	$boxShadow: 0.3em;
	.title {
		font-weight: 700;
		font-size: 2rem;
		color: $primary;
		width: 100%;
	}
	.bio {
		color: $purple;
		font-size: 1.1rem;
		height: clamp(6em, 20vh, 8em);
		width: clamp(10em, 50vw, 40em);
		background-color: white;
		padding: 1em;
		box-shadow: inset $boxShadow $boxShadow $boxShadow #d1d9e6,
			inset $boxShadow $boxShadow $boxShadow #ffffff90;
		border-radius: 1em;
		border-radius: 0.3em;
		overflow: hidden;
		text-overflow: ellipsis;
		.title {
			text-align: center;
			font-weight: 700;
			font-size: 1.2rem;
			color: $purple;
		}
	}
	.rating {
		@extend .bio;

		height: clamp(6em, 20vh, 8em);
		width: clamp(6em, 20vw, 40em);
		display: flex;
		flex-wrap: wrap;
		.title {
			@extend .horizontalCenter;
		}
	}
}

.purpleText{
	color: $purple;
}
.blueText{
	color: $primary;
}
.bgPrimary{
	background-color: $primary;
}

