$primary: hsl(213, 95%, 17%);
// $secondary: hsl(151, 71%, 42%);
$secondary: hsl(33, 95%, 60%);

$dangerRed: hsl(0, 71%, 42%);
$disabledGrey: hsl(0, 0%, 57%);

$highlightYellow: hsl(45, 100%, 72%);
$white: hsl(0, 0%, 90%);
